
<form action="<%= url('/signup')%>" method="post" class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<ul class="list-unstyled">
				<% if @user && @user.errors %>
					<% @user.errors.each do |err| %>
						<li>
							<label> <%= err[0] %> </label>
							<% err[1].each do |e| %>
							  <%= e %>
							<% end %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="form-group">
						<label for="">usernmae</label>
						<input class="form-control" name="username" type="text" value="">
					</div>

					<div class="form-group">
						<label for="">password</label>
						<input class="form-control" name="password" type="password" value="">
					</div>

					<div class="form-group">
						<input class="btn btn-primary" type="submit" value="Submit">
					</div>

				</div>
			</div>
		</div>
	</div>
</form>
